<!doctype html>
<html>
    <head>
        <title>EZFEED</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='thirdparty/reset.css') }}" />
        <link rel="stylesheet" type="text/less" href="{{ url_for('static', filename='css/style.less') }}" />
        <script src="{{ url_for('static', filename='thirdparty/less.js') }}"></script>
        <script src="{{ url_for('static', filename='thirdparty/require.js') }}"
                data-main="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <div class="topbar">
            <div class="row">
                <h1>EzFeed</h1>
            </div>
        </div>
    </body>
</html>

